modules/core/server/build/*
modules/core/server/build/CMakeFiles/*
dist/*
dist_windows/*
monitor/monitor.exe
logs/*.log
out/*
.vscode/*
*.out
fast-https.exe
fast-https
fast-https.pid
go.mod
go.sum
config/cert/*.pem
httpdoc/root/root.crt
httpdoc/root/root.key
httpdoc/theme/*